XBD/COURS/section8/TPeXistEnonce/site/BD/films.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="T_PAYS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FR"/>
			<xs:enumeration value="JP"/>
			<xs:enumeration value="USA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_ROLES" mixed="true">
		<xs:sequence>
			<xs:element ref="ROLE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_ROLE">
		<xs:sequence>
			<xs:element ref="PRENOM"/>
			<xs:element ref="NOM"/>
			<xs:element ref="INTITULE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_MES">
		<xs:attribute name="idref" use="required" type="xs:byte"/>
	</xs:complexType>
	<xs:complexType name="T_FILMS">
		<xs:sequence>
			<xs:element ref="FILM" maxOccurs="unbounded"/>
			<xs:element ref="ARTISTE" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_FILM">
		<xs:sequence>
			<xs:element ref="TITRE"/>
			<xs:element ref="GENRE"/>
			<xs:element ref="PAYS"/>
			<xs:element ref="MES"/>
			<xs:element ref="ROLES"/>
			<xs:element ref="RESUME" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Annee" use="required" type="xs:short"/>
	</xs:complexType>
	<xs:complexType name="T_ARTISTE">
		<xs:sequence>
			<xs:element ref="ACTNOM"/>
			<xs:element ref="ACTPNOM"/>
			<xs:element ref="ANNEENAISS"/>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:byte"/>
	</xs:complexType>
	<xs:element name="TITRE" type="xs:string"/>
	<xs:element name="ROLES" type="T_ROLES"/>
	<xs:element name="ROLE" type="T_ROLE"/>
	<xs:element name="RESUME" type="xs:string"/>
	<xs:element name="PRENOM" type="xs:string"/>
	<xs:element name="PAYS" type="T_PAYS"/>
	<xs:element name="NOM" type="xs:string"/>
	<xs:element name="MES" type="T_MES"/>
	<xs:element name="INTITULE" type="xs:string"/>
	<xs:element name="GENRE" type="xs:string"/>
	<xs:element name="FILMS" type="T_FILMS"/>
	<xs:element name="FILM" type="T_FILM"/>
	<xs:element name="ARTISTE" type="T_ARTISTE"/>
	<xs:element name="ANNEENAISS" type="xs:string"/>
	<xs:element name="ACTPNOM" type="xs:string"/>
	<xs:element name="ACTNOM" type="xs:string"/>
</xs:schema>
