WSJ/LABO/TD_WS_SOAP/src/mas/wsj/calculator/TestPortType_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://calculator.wsj.mas/" xmlns:tns="http://calculator.wsj.mas/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="test" type="tns:test"/>

  <xs:element name="testResponse" type="tns:testResponse"/>

  <xs:complexType name="test">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="testResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

