WSJ/LABO/MAS-ICT-NETBEANS-WS/TD_WS_SOPA_CONSUMMER/src/META-INF/wsdl/localhost_8080/TD_WS_SOAP/BlogWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://blog.wsj.ict.mas/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://blog.wsj.ict.mas/" name="BlogWS">
<types>
<xsd:schema>
<xsd:import namespace="http://blog.wsj.ict.mas/" schemaLocation="http://localhost:8080/TD_WS_SOAP/BlogWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listMessages">
<part name="parameters" element="tns:listMessages"/>
</message>
<message name="listMessagesResponse">
<part name="parameters" element="tns:listMessagesResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="removeAuthor">
<part name="parameters" element="tns:removeAuthor"/>
</message>
<message name="removeAuthorResponse">
<part name="parameters" element="tns:removeAuthorResponse"/>
</message>
<message name="removeMessage">
<part name="parameters" element="tns:removeMessage"/>
</message>
<message name="removeMessageResponse">
<part name="parameters" element="tns:removeMessageResponse"/>
</message>
<message name="listAuthors">
<part name="parameters" element="tns:listAuthors"/>
</message>
<message name="listAuthorsResponse">
<part name="parameters" element="tns:listAuthorsResponse"/>
</message>
<message name="addAuthor">
<part name="parameters" element="tns:addAuthor"/>
</message>
<message name="addAuthorResponse">
<part name="parameters" element="tns:addAuthorResponse"/>
</message>
<message name="addMessage">
<part name="parameters" element="tns:addMessage"/>
</message>
<message name="addMessageResponse">
<part name="parameters" element="tns:addMessageResponse"/>
</message>
<portType name="BlogWS">
<operation name="listMessages">
<input wsam:Action="http://blog.wsj.ict.mas/BlogWS/listMessagesRequest" message="tns:listMessages"/>
<output wsam:Action="http://blog.wsj.ict.mas/BlogWS/listMessagesResponse" message="tns:listMessagesResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://blog.wsj.ict.mas/BlogWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://blog.wsj.ict.mas/BlogWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="removeAuthor">
<input wsam:Action="http://blog.wsj.ict.mas/BlogWS/removeAuthorRequest" message="tns:removeAuthor"/>
<output wsam:Action="http://blog.wsj.ict.mas/BlogWS/removeAuthorResponse" message="tns:removeAuthorResponse"/>
</operation>
<operation name="removeMessage">
<input wsam:Action="http://blog.wsj.ict.mas/BlogWS/removeMessageRequest" message="tns:removeMessage"/>
<output wsam:Action="http://blog.wsj.ict.mas/BlogWS/removeMessageResponse" message="tns:removeMessageResponse"/>
</operation>
<operation name="listAuthors">
<input wsam:Action="http://blog.wsj.ict.mas/BlogWS/listAuthorsRequest" message="tns:listAuthors"/>
<output wsam:Action="http://blog.wsj.ict.mas/BlogWS/listAuthorsResponse" message="tns:listAuthorsResponse"/>
</operation>
<operation name="addAuthor">
<input wsam:Action="http://blog.wsj.ict.mas/BlogWS/addAuthorRequest" message="tns:addAuthor"/>
<output wsam:Action="http://blog.wsj.ict.mas/BlogWS/addAuthorResponse" message="tns:addAuthorResponse"/>
</operation>
<operation name="addMessage">
<input wsam:Action="http://blog.wsj.ict.mas/BlogWS/addMessageRequest" message="tns:addMessage"/>
<output wsam:Action="http://blog.wsj.ict.mas/BlogWS/addMessageResponse" message="tns:addMessageResponse"/>
</operation>
</portType>
<binding name="BlogWSPortBinding" type="tns:BlogWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAuthors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BlogWS">
<port name="BlogWSPort" binding="tns:BlogWSPortBinding">
<soap:address location="http://localhost:8080/TD_WS_SOAP/BlogWS"/>
</port>
</service>
</definitions>